.groups-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.group-box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px solid white;
}

h4 {
  margin: 1rem auto 0;
}

.group-student > * {
  margin: 0 auto;
  font-size: 1.33rem;
}
