input[type="file"] {
  opacity: 0; /* make transparent */
  z-index: -1; /* move under anything else */
  position: absolute; /* don't let it take up space */
}

input[type="file"]:focus + label {
  outline: 2px solid; /* example focus style */
}

.file-upload-container {
  position: absolute;
  transition: all 0.33s;
  height: 3rem;
  font-size: 2rem;
}
button {
  font-size: 1rem;
}
button:hover {
  cursor: pointer;
  border: 1px solid white;
}
