header {
  background-color: var(--accent);
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 4rem;
  border: 2px solid var(--alt);
  z-index: 3;
  width: 100%;
}

h1 {
  margin: 0;
  margin-left: 0.33rem;
  font-size: 1.66rem;
  letter-spacing: 0.11rem;
}

.title {
  pointer-events: none;
}

.unlocked,
.locked {
  color: var(--tertiary);
  font-size: 90%;
}
