.card-expanded,
.card-collapsed {
  display: flex;
  justify-content: space-between;
  transform: translateX(-100%);
  padding-top: 3rem;
  animation-duration: 0.66s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: slide-in;
  box-shadow: 0 3px 12px 1px rgba(20, 20, 20, 0.7);
}

.card-collapsed > h2,
.card-content-container > h2 {
  text-align: right;
  margin: 0 3rem 1.66rem auto;
}

.card-content-container {
  width: 100%;
  margin-left: -6rem;
}
.fields-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.card-collapsed:hover,
.card-expanded:hover {
  cursor: pointer;
}
.card-collapsed:hover {
  color: cyan;
}
.card-collapsed:hover > .arrow-btn,
.card-expanded:hover > .arrow-btn {
  color: cyan;
}

.student-field-set {
  text-align: left;
  margin-bottom: 1rem;
}
.student-field-set:last-child {
  margin-right: 3rem;
}
.student-header {
  text-decoration: overline;
}
.student-field-header {
  text-decoration: underline;
  margin: 0;
}
.student-field {
  color: cyan;
  word-break: break-all;
  font-size: 1.11rem;
}

.arrow-btn {
  border-radius: 50%;
  width: 1.66rem;
  height: 1.66rem;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 0 3rem;
}
