:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: white;
    color: white;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
  }
}

@media screen and (min-width: 1080px) {
  :root {
    font-size: 24px;
  }
  .student-field-set {
    font-size: 1.33rem;
  }

  .student-card > h2 {
    font-size: 2.33rem;
  }
}
