:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --Lato: "Lato";
  --Os: "Oswald";
  --Ssp: "Source Sans Pro", sans-serif;
  --bg: #202124;
  --accent: #303030;
  --tertiary: #fff;
  --util: rgba(0, 0, 0, 0.87);
  --alt: #3c4043;
  --o-white: rgba(227, 227, 227, 0.9);
}

* {
  box-sizing: border-box;
  font-family: var(--Os);
}

::-webkit-scrollbar {
  color: white;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 255, 255, 0.33);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: #3c4043;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: white;
    color: white;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
  }
}

@media screen and (min-width: 1080px) {
  :root {
    font-size: 19px;
  }
  .student-field-set {
    font-size: 1.33rem;
  }

  .student-card > h2 {
    font-size: 2.33rem;
  }
}
