.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  transition: transform 0.33s;
  z-index: 5;
  right: 0;
  height: 4rem;
  padding-right: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav-link {
  transition: color 1s;
  margin: 0.33rem;
}

.nav-link:hover {
  cursor: pointer;
}

.arrow-expand,
.arrow-collapse {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 1rem auto -0.6rem;
  transition: all 1s;
}

.arrow-expand {
  transform: rotate(0deg);
  border-radius: 50%;
}

.arrow-collapse {
  transform: rotate(180deg);
}

.nav-arrow {
  background-color: black;
  outline: 1px solid cyan;
  border-radius: 50%;
  transition: all 0.66s;
  height: 110%;
  width: 110%;
}

.nav-arrow:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}
